.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
    border-bottom: 1px solid gray;
}

.date {
    width: 18%;
}

.author {
    width: 35%;
}

.terminal {
    width: 20%;
}

.status {
    width: 15%;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
}


.header span {
    opacity: 0.7;
}