.main {
    width: 100%;
}

.main a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 40px;
    height: 70px;
    border-bottom: 1px solid gray;
}

.container div {
    display: flex;
    flex-direction: column;
}

.dateContainer {
    width: 18%;
}

.dateContainer span:nth-child(2) {
    margin-top: 5px;
    opacity: 0.7;
}

.authContainer {
    width: 35%;
}

.authContainer span{
    white-space: nowrap;
}

.authContainer span:nth-child(2) {
    margin-top: 5px;
    opacity: 0.7;
}

.terminalContainer {
    width: 20%;
}

.terminalContainer span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.terminalContainer span:nth-child(2) {
    margin-top: 5px;
    opacity: 0.7;
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 24px;
    min-width: 100px;
    max-width: 100px;
}

.statusContainer span {
    color: white;
}

.new {
    border-radius: 3px;
    background-color: brown;
}

.completed {
    border-radius: 3px;
    background-color: rgb(2, 138, 59);
}

.assignedto {
    border-radius: 3px;
    background-color:rgb(146, 161, 4);
}

.started {
    border-radius: 3px;
    background-color:rgb(41, 4, 207);
}

.declined {
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.548);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .pagination .text {
    opacity: 0.6;
    font-size: 1.5rem;
  }
  
  .page {
    color: rgb(98, 163, 13);
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid 0.2rem #4aa5be;
    background-color: transparent;
    border-radius: 0.7rem;
    cursor: pointer;
  }
  
  .page.active {
    background-color: #4aa5be;
    color: black;
  }
  
  .page:hover {
    background-color: #4aa5be;
    color: black;
  }

  .select {
    width: 60px;
    text-align: center;
    border-radius: 6px;
  }